@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
 * {
	 box-sizing: border-box;
	 margin: 0;
	 font-family: "Quicksand";
}
 body {
	 background-color: #f5f8fd;
}
